*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-align: center;
    box-sizing: border-box;
    font-size: 3vh;
    }

    h1 {
        background-color: aquamarine; 
        font-size: 6vh;
        display:flex;
        justify-content:center;
    }

    nav {
        text-align: left;
        display:flex;
        justify-content: center;
        background-color: aquamarine;
    
    }
    nav a{
        text-decoration: none;
       
    }
    a[href="#"] {
        font-weight: bolder;

    }
    #home {
        display:inline;
        padding: 1vh;
        border: 1vh solid red; 
        margin: 1vh;   
        background-color: aquamarine; 

    }
    #home:hover{
        color:blue;
        background-color: deeppink;
    }
    #home:active{
        color:red;
        background-color: blue;
    }
 

    #about {
        display:inline;
        padding: 1vh;
        border: 1vh solid red; 
        margin: 1vh;   
        background-color: aquamarine; 
    }
    #about:hover{
        color:blue;
        background-color: deeppink;
    }
    #about:active{
        color:red;
        color:blue
    }
    
    #contact{
        display:inline;
        padding: 1vh;
        border: 1vh solid red; 
        margin: 1vh;   
        background-color: aquamarine; 
    }
    #contact:hover{
        color:blue;
        background-color: deeppink;
    }
    #contact:active{
        background-color:red;
        color:blue
    }
    #game{
        display:inline;
        padding: 1vh;
        border: 1vh solid red; 
        margin: 1vh;   
        background-color: aquamarine; 
    }
    #game:hover{
        color:blue;
        background-color: deeppink;
    }
    #game:active{
        background-color:red;
        color:blue
    }
    #rules{
        display:inline;
        padding: 1vh;
        border: 1vh solid red; 
        margin: 1vh;   
        background-color: aquamarine; 
    }
    #rules:hover{
        color:blue;
        background-color: deeppink;
    }
    #rules:active{
        background-color:red;
        color:blue
    }
    #registration{
        display:inline;
        padding: 1vh;
        border: 1vh solid red; 
        margin: 1vh;   
        background-color: aquamarine; 
    }
    #registration:hover{
        color:blue;
        background-color: deeppink;
    }
    #registration:active{
        background-color:red;
        color:blue
    }
   header figure{
        border: 1vh solid deeppink; 
        background-color: aquamarine;
        display: flex;
        justify-content: space-around;
        
        
        
   }
    #portada{
        width: 80vw;
    }
    .distinto{
        outline: 0.5rem solid khaki;
  border: 0.5rem outset pink;
  box-shadow: 0 0 0 2rem skyblue;
  border-radius: 12px;
  margin: 2rem;
  padding: 1rem;
  outline-offset: 0.5rem;
        background-color:aquamarine ; 
        font-size: 5vh;
    }
   
     #logo{
        width: 20vw;;
        border: 1vh solid deeppink; 
        margin: 5vh;  
     }
   #hockey {
    width: 20vw;;
    border: 1vh solid deeppink; 
    margin: 5vh;  
   
    }
    #hockey_about{
        width: 30vw;;
    border: 1vh solid deeppink; 
    margin: 5vh;  
    }
    #hockey_info{
        height: 25vh;
    border: 1vh solid deeppink; 
    margin: 5vh;  
    }
    #hockey_rules{
        height: 28vh;
    border: 1vh solid deeppink; 
    margin: 5vh;  
    }
    #hockey_registration{
        height: 30vh;
    border: 1vh solid deeppink; 
    margin: 5vh;  
    }
    
   
    main div{
        outline: 0.5rem solid khaki;
        border: 0.5rem outset pink;
        box-shadow: 0 0 0 2rem skyblue;
        border-radius: 1vh;
        margin: 2rem;
        padding: 1rem;
        outline-offset: 0.5rem;
              background-color:aquamarine ; 
              font-size: 5vh;
        display: block;
    }
    main h3{
        font-size: 4vh;
    }
    img{
        transition: transform 1s;
        
    }
    #logo:hover {
transform: translate(2vh, 50%);
    }
    #hockey:hover {
        transform: translate(2vh, 50%);
    }
    #hockey_about:hover {
        transform: translate(2vh, 50%);
    }
    #hockey_info:hover {
        transform: translate(2vh, 50%);
    }
    #hockey_rules:hover {
        transform: translate(2vh, 50%);
    }
    #hockey_registration:hover {
        transform: translate(2vh, 50%);
    }
    .letras {
        list-style-type: lower-latin;
        font-weight: normal;
    }
    article{
        outline: 0.5rem solid khaki;
        border: 0.5rem outset pink;
        box-shadow: 0 0 0 2rem skyblue;
        border-radius: 1vh;
        margin: 2rem;
        padding: 1rem;
        outline-offset: 0.5rem;
              background-color:aquamarine ; 
              font-size: 5vh;
        display: block;
    }
    section{
        outline: 0.5rem solid khaki;
        border: 0.5rem outset pink;
        box-shadow: 0 0 0 2rem skyblue;
        border-radius: 1vh;
        margin: 2rem;
        padding: 1rem;
        outline-offset: 0.5rem;
              background-color:aquamarine ; 
              font-size: 5vh;
        display: block;
    }
    table{
        outline: 0.5rem solid khaki;
        border: 0.5rem outset pink;
        box-shadow: 0 0 0 2rem skyblue;
        border-radius: 1vh;
        margin: 2rem;
        padding: 1rem;
        outline-offset: 0.5rem;
              background-color:aquamarine ; 
              font-size: 5vh;
        display: flex;
        justify-content: center;
    }
    footer{
        outline: 0.5rem solid khaki;
        border: 0.5rem outset pink;
        box-shadow: 0 0 0 2rem skyblue;
        border-radius: 1vh;
        margin: 2rem;
        padding: 1rem;
        outline-offset: 0.5rem;
              background-color:aquamarine ; 
              font-size: 5vh;
    }
    header section{
        outline: 0.5rem solid khaki;
        border: 0.5rem outset pink;
        box-shadow: 0 0 0 2rem skyblue;
        border-radius: 1vh;
        margin: 2rem;
        padding: 1rem;
        outline-offset: 0.5rem;
              background-color:aquamarine ; 
              font-size: 5vh;
    }
    main section{
        outline: 0.5rem solid khaki;
        border: 0.5rem outset pink;
        box-shadow: 0 0 0 2rem skyblue;
        border-radius: 1vh;
        margin: 2rem;
        padding: 1rem;
        outline-offset: 0.5rem;
              background-color:aquamarine ; 
              font-size: 5vh;
    }

    .dimensions{
        font-weight: bold;
    }
    .competition{
        font-weight: bold;
    }
    .fields{
        font-weight: bold;
    }
   li p{
    font-weight: normal;
   }
  legend{
    font-weight: bold;
  }
  table tr{
    
    border-collapse: separate;
   background-color:yellow;
  }
  table tr td{
    border:pink 20px solid;
  }
  input[type=radio] {
    border: 0px;
    width: 1em;
    height: 1em;
}
input[type=checkbox] {
    border: 0px;
    width: 1em;
    height: 1em;
}
 